<div>
	<p align="center">相关文章下载</p>
</div>

<div>
	<table class="table table-striped">
		<tr>
			<td><i class="icon-tag"></td>
			<td><i class="icon-book"></td>
			<td><i class="icon-user"></td>
			<td><i class="icon-download-alt"></i></td>		
		</tr>
		<tr>
			<td>1</td>
			<td>常山胡柚研究现状及存在的问题</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=436494429&uk=3473124366">
				下载<a></td>		
		</tr>

		<tr>
			<td>2</td>
			<td>常山胡柚果实营养成分分析</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=447570035&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>3</td>
			<td>常山胡柚胚型的初步观察</td>
			<td>戚英鹤</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=484300403&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>4</td>
			<td>几种不同药剂防治常山胡柚黄斑病的效果试验</td>
			<td>何照斌</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=491702629&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>5</td>
			<td>分子标记鉴定常山胡柚优良基因型的初步研究</td>
			<td>英文、陈士超</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=496337006&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>6</td>
			<td>超临界二氧化碳萃取常山胡柚外果皮中天然色素的工艺研究</td>
			<td>时海香</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=497917375&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>7</td>
			<td>常用食品添加剂对常山胡柚色素稳定性的影响</td>
			<td>时海香</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=502494717&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>8</td>
			<td>常山胡柚汁抑制细胞色素P450酶化学成分及质量标准初步研究</td>
			<td>闵鹏</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=507124783&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>9</td>
			<td>常山胡柚优良无性系的RAPD分析</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=509783283&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>10</td>
			<td>常山胡柚叶片DNA的抽提与分析</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=513109179&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>11</td>
			<td>常山胡柚砂囊悬浮果汁的研制</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=518004330&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>12</td>
			<td>常山胡柚皮中挥发性成分分析</td>
			<td>赵雪梅</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=519517033&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>13</td>
			<td>常山胡柚果汁饮料的加工研制_</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=524218114&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>14</td>
			<td>常山胡柚果实贮藏期间营养成分含量的变化</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=535153917&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>15</td>
			<td>常山胡柚果实的综合利用研究</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=537757310&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>16</td>
			<td>常山胡柚果汁饮料的加工研制_</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=524218114&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>17</td>
			<td>常山胡柚果酱的加工研制</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=539838173&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>18</td>
			<td>常山胡柚低糖果酱的加工</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=542344942&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>19</td>
			<td>常山胡柚的开花结果习性</td>
			<td>严流春</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=544960260&uk=3473124366">下载</a></td>		
		</tr>

		<tr>
			<td>20</td>
			<td>常山胡柚果实营养成分分析</td>
			<td>仲山民</td>
			<td><a href="http://pan.baidu.com/share/link?shareid=548364176&uk=3473124366">下载</a></td>		
		</tr>


    </table>
</div>

<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>