<h3 align="center">胡柚的十大保健作用 </h3></br>
<div>
 <p><strong>1、镇咳化痰：</strong></p>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胡柚果肉和果皮含有丰富的有橙皮苷、维生素C等物质，有的止咳化痰功能。当地人以果肉加冰糖蒸后口服止咳的历史攸久。  
</div>

<div>
	<p><strong>2、清热解毒：</strong></p>
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 胡柚性凉，含有丰富的柠檬酸和膳食纤维，经常食用，不会像吃其他柑桔类水果那样容易上火，而且能排除体内的毒素。
</div>

<div>
	<p><strong>3、生津止渴：</strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     胡柚甘中略酸，带有微苦，鲜爽可口，具有较好的清凉解渴功效，且回味持久，久食不腻。   
</div>

<div>
	<p><strong>4、解酒醒脑：</strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    饮酒过量，若能进食胡柚鲜果或饮胡柚汁，有助于解酒醒脑，缓减酒精中毒现象。
</div>

<div>
	<p><strong>5、消食舒胃：</strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    胡柚能助消化，提高肠胃功能，经常食用能增进食欲。
</div>

<div>
	<p><strong>6、通便利尿：</strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    胡柚果肉对改善便秘有良好功效，尤其是老年人，经常食用有百利而无一害。 
</div>

<div>
	<p><strong> 7、稳糖降脂： </strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  糖尿病患者的一大遗憾是不能食用水果，但胡柚则可以放心食用，食后不仅不会引起血糖升高，而且还有一定的降低体内血脂的作用。
</div>

<div>
	<p><strong> 8、健肾润肺： </strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  	胡柚对肾和肺有良好的保健作用，能健肾润肺，增强体质，有效地提高人体对外界各种刺激的防护能力。   
</div>

<div>
	<p><strong>9、护肤美容：  </strong></p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胡柚中的多种氨基酸、微量元素和维生素，能排毒和增强毛细血管弹性，对调理机体、护理肌肤大有裨益。   
</div>

<div>
	<p><strong> 10、延年益寿： </strong></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  每天食用一个胡柚，就能满足人体每天维生素C的需要。由于其消食、通便、排毒、降脂、健肾等作用。经常食用有延年之功效。
</div>

<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>
    
