<h1 align="center">胡柚历史</h1>

<div align="center">
<img src="assets/history.jpg">
</div>

<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胡柚在明末清初的衢州府航埠西20里即常山招贤 樊村至溪口一带最早种植，直到1978年常山当地人还一直称之为“抚州”，1978年因走向市场需要才定名为“胡柚”，而清乾隆年间的1764年，葡萄牙人就因航海需要将其植物母本引种到国外，称为“葡萄柚”，因其源自中国表皮金黄也称为“金柚”或“黄柚”。2003年申请原产地产品( 即地理标志产品)保护成功。只有在浙江常山县行政区域内种植、加工生产的才被称为胡柚或常山胡柚。
</div></br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<strong>明末清初没有正式名字的野生“抚州” 出现，味苦无法食用，与常山杂柑杂交后品种改良。</strong>由于逃避战乱 ，江西抚州一带数万人迁徙到浙江衢州。抚州移民带来的一种装饰性和观赏性的柚子，种植于移民房子的四周，因味苦无法食用，移民以该柚子自比，并称为“抚州” 。  “抚州”与常山当地杂柑天然杂交成为无核柚，品种得到改良。据康熙辛卯(1711)秋《衢州府志》物产中记载：“抚州明时惟西安县西航埠二十里栽之，今遍地皆栽。”  西安即今衢县, 航埠以西20里，就是招贤官庄樊村一带。
<div></br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<strong>大航海时代的1764年被引种到印度及美洲，称为“葡萄柚”，成为治疗航海坏血病的主要手段。</strong>大航海时代大量船员死于最致命的 航海病---坏血病，1750年左右确定其病因是缺乏新鲜蔬菜和水果（其实用今天的话说就是缺乏普普通通的维生素C)， 因此中国人随用随制的催豆芽技术和柑橘柚子等被带上远洋船，因柚子比普通柑橘容易保存，加上后来证实豆芽 虽为新鲜蔬菜，但无法治疗坏血病（豆芽不含维生素C），所以胡柚几乎成为航海者治疗航海者坏血病的唯一有效方法 。航海者不惜代价寻找适合欧洲种植的柚子母本。 而同时代的满清官员，具有浓厚的天朝大国心态而又缺乏物种保护意识，于是1764年一名满清知府赴湖北鄂州上任途经浙江衢州府常山招贤官庄时，将胡柚母及其他“天朝珍奇”作为礼物慷慨地提供给随行的一位葡萄牙传教士，由于China 指瓷器和中国, Mandarin 指满清官员和柑橘，知府因此给胡柚起名“葡萄柚Grapefriut” 来戏谑葡人教士。而航海殖民者随后将他们称之为“葡萄柚” 的“抚州” ，在印度及北美等种植，最后在与常山县同纬度的美国南部、北美加勒比海地区引种成功 。
</div></br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<strong>1930年初直到今天，“葡萄柚”在美国风靡，成为降糖减肥的永久时尚。</strong>以葡萄柚的名称被引入美洲的胡柚，与当地的柑橘类进一步杂交，形成白色和粉色的葡萄柚。葡萄柚原来只在美国南方销售，南北战争后进入北方市场。由于其风味独特，口感好，很快引起人们的兴趣，销售量急剧增长，并推动葡萄柚的迅速发展。60年代，美国用上百万美元向全世界各国宣传其食用方法，使之变成了欧洲、日本等消费者的早餐水果，从而使葡萄柚畅销于欧洲、日本等地，在国际市场上占有了重要的地位 。而作为胡柚起源地的中国，除浙江省常山县的原产地外仍有种植习惯外，在我国四川、广东、福建等省有零星胡柚栽培，长期以来由于栽培面积少，产量不高，效益低，人们对胡柚没有足够的认识，不明其营养价值。
</div></br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<strong>
1978年因销售和宣传需要，定名“胡柚”。</strong>1978年新闻报道使用“抚州”、“胡州”等，用名比较混乱且无法体现这是一种柚类水果。 因移民中多姓胡，在常山当地方言里胡、吴、抚、无都念Wu；州、宙、柚等都念 ju，因此起名“胡柚”，并以招贤澄塘胡家村作为胡柚的起源地。而“抚州”、“金柚”和“葡萄柚”等名字逐渐被人遗忘。
</div></br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<strong>
2003年常山胡柚申请原产地保护成功，胡柚和葡萄柚在欧美及中国国内相逢和遭遇。</strong>改革开放后的1983年开始，有识之士意识到胡柚的价值。经过各级政府、 农业科技人员、农民及贩销户的不懈努力，到2003年经过20年的开发开拓，常山胡柚种植面积达到10万亩，年产12-14万吨。2003年1月18日，常山胡柚原产地域产品保护申请通过了审查，2月14日国家质量监督检验检疫总局公告, 并同时确认了利卿果业等5家企业获得授权生产以常山胡柚命名的原产地胡柚产品, 2003年11月4日到8日，在杭州人民大会堂举行了常山胡柚原产地保护新闻发布会 ，随后利卿果业等将胡柚销往欧洲北美等国家并与其同宗“葡萄柚”争夺国内国际市场。 
反观国内市场，胡柚被中国人逐渐认识，却是得益于西方社会对其减肥降糖等特性的推崇及大力的市场推广。西方消费者对胡柚非常喜欢，西方影视歌曲作品经常有涉及胡柚的题材（如胡柚减肥歌 、月光下的胡柚等） 。当葡萄柚在中国加入WTO的前夜敲开中国大门进入天津港时，由于美国人良好的市场经验和多项grapefruit改良专利的帮助，葡萄柚的品种及颜色和胡柚都有所差异，国人并不认识葡萄柚，所谓“胡柚离家 葡萄柚回” 。但另一方面，常山胡柚却出口欧洲北美国家，成为葡萄柚的正宗品种。
近年随着国内消费者对胡柚的逐渐认识，在国内的市场逐年上升。特别是在全球金融风暴的影响下，国外的需求下降，国内市场逐渐成为胡柚的主要销售市场，常山胡柚才成为中国人自己享用的水果。
</div>

<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>


