<div>
    <div>
	<p align="center">外裹黄金内溢香，酸甜爽口性微凉，</p>
	<p align="center">春华秋实数百载，水果之王独姓常。</p><br>
    </div>
    <div>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这首诗说的是常山的原产地域保护产品——常山胡柚。常山胡柚属杂柑类水果，色泽金黄，果型适中，性凉解毒，营养丰富，具有较高的药用价值，是常山盛名远扬的经济特产、农村经济的支柱产业和农民增收致富的“摇钱树”。关于常山胡柚的起源，民间流传有好几种美丽动人的传说。
    </div>
    <div>
    	<strong>一、孝子奇遇说</strong></br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传说很久以前，在青石镇澄潭、低铺一带，住着一户贫穷人家。这户人家老来得子，小孩出生时不哭反笑，长得宽额大耳，当地人觉得非常奇异，都说将来必定是大富大贵之人，夫妻俩也满心欢喜，给儿子取名“富有”。小孩10岁时，父亲不幸去世，留下母子两人相依为命。又过了3年，母亲因为劳累过度，得了一场大病，从此长年卧病在床，身体极度虚弱，而且喉咙经常发痒，咳嗽不止。孝顺的富有看在眼里，急在心里，但平日里连饭都吃不饱，哪有钱去买药治病？苦思冥想之后，他决定砍柴换钱去买药。可是整整一个月下来，仍然没有筹够买药的钱。又一个金秋之日，富有一大早就去老远的深山砍柴，临近中午时分，气候干燥，加上内心焦虑担忧，他又渴又累，正想寻找山泉解渴时，忽然感觉前方似有金光闪烁，令人眼花缭乱。定睛一看，原来不远处有一棵野果树，长满了金灿灿的果子，有拳头一般大，富有当即摘下一个吃了起来，顿觉清凉爽口，生津润喉，乏意全消。他心里一动，马上把野果全部摘回家，每天剥一两个给母亲吃，没想到六天下来，母亲咳嗽竟然痊愈了，身体也渐渐康复。富有喜出望外，干脆重入深山，想把那棵野果树移植到自家门口，可惜再也没有找着。于是他将野果里的籽种下，精心培育。几年后，果树苗开始开花结果，富有也娶妻生子，生活日益好转，而那野果树也不知什么时候被人们称作“富有树”。
     </div>
    	
    <div>
          <strong>一、抚州陪嫁说</strong></br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传说明朝时期，江西抚州有一个女子出嫁到青石镇水南一带。作为陪嫁之物，老家让她带上了两株果树苗，寓意着成双成对、共生共长，祝愿早日开花结果、生儿育女。她婆家也是个通达事理的人家，依顺了这个风俗习惯。结婚之日，一家人遵照习俗，把两株果树种在门前的菜园里，精心呵护培育。没过几年，两株果树开花结果，果实虽然略有苦味，但清凉爽口、回味甘甜。随着时光流逝，果树结籽发芽，又培植了许多小树苗，等到抚州女的长女嫁到本镇澄潭村时，也陪嫁带去了两株果树苗，就种在现今“胡柚祖宗树”所在地附近。后人不知此果树为何名，因其当初来自抚州，便称其为“抚州”，常山方言与“胡柚”同音。在“抚州”的扩种过程中，也逐渐形成了“嫁女嫁柚苗”的习俗，寓意着吉祥、幸福的美好祝愿。

    </div>
    	
    <div>
    	 <strong>一、洪水送宝说</strong></br>
    	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传说明清时期，一个春耕时节，常山江涨大水，有一株野果树不知从何地随水漂来，趟至水南一带，搁浅了。正好被一对在农田里劳作的年轻夫妇遇上，小俩口觉得树苗翠绿翠绿的，挺好看，便把它带回家种在门口。三年后，果树开花结果，待到果实差不多成熟时，男主人摘下一个尝尝，发现口味苦，不好吃，从此再也没有人敢去吃这种果子了。有一个受旱之年，这户人家生活过得非常艰辛，就在这年冬天，他家来了一位非常要好的远方客人。客人迎进门让坐后，他就不无歉意地说：实在不好意思，连茶叶都没有，只有白开水一杯。客人无意之中，看见门口的果树枝头挂满金黄色的果子，便开玩笑说，树上有这么多水果，还怕没解渴的，怕是舍不得让客人吃吧！男主人红着脸解释：你有所不知，这水果很苦，不能吃的，不信你摘个尝尝。客人二话没说，便摘下一个吃了起来，没想到果子过了冬天，味道微苦清凉，甘甜多汁，非常解渴，搞得男主人很不好意思。这件事过了没多久就传开了，左邻右舍也纷纷前来讨籽种植。过了三五年，当新一代果树开花结果时，人们还不知它叫什么名字。由于这种水果外形浑圆，底部稍平，中部鼓满，上部收拢，与当地人用葫芦制作的水壶形状极为相似，而且该果子品性清凉，有止咳化痰等功效，与柚类相似，所以人们称之为“壶柚”，意思为“像水壶一样的柚子”。
    </div>
    	
    <div>
         <strong>一、胡家地名说</strong></br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胡柚祖宗树，即目前树龄最大的一棵胡柚树，位于青石镇澄潭村胡家自然村。因此，人们一直传言胡家自然村就是常山胡柚的发源地。据专家考证，常山胡柚可能是柚与甜橙、柑桔等天然杂交而成，其水果属于“柚”类，故人们依据方言称呼的谐音，结合发源地和水果属性，将其命名为“胡柚”。目前，这株“胡柚祖宗树”仍然存活，距今已有百岁高龄，每年金秋时节，柚农们总会怀惴着感恩之心、喜庆之情和祈祷之愿，不约而同地前往祖宗树进行祭拜活动。
    </div>

    <div>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不管究竟如何，胡柚已经演化成人们心目中的“喜顺果”，象征着喜气和孝心。以孝为先，以勤为荣的常山人逐步形成了各种与胡柚相关的风俗习惯：每逢过年过节时，总爱把胡柚当作贡品摆放在高高的贡桌上，祈祷家人身体健康、平安多福；每逢喜事来临时，总爱把贴着喜字胡柚放置在礼盒、饭甑中，企盼万事顺心，吉祥富裕；每次外出走亲访友时，总爱捎上几箱胡柚表达心中的祝福和祈求。
    </div>
   
</div>

<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>
