<div class="container">
  


<div class="row">

<div class="span6">
 <img src="assets/huyou_4.jpg" width="220" height="220">
</div>

<div class="span6">

<p colour="#fff">特点：<font color="green">低热量高维C</font><p>
<table class="table table-condensed">
  <tr class="success">
  	<td><small>水果</small></td>
  	<td><small>热量指数</small></td>
  	<td><small>维他命C</small></td> 	
  </tr>
  <tr class="error">
  	<td><strong>胡柚</strong></td>
  	<td><strong><font color="red">35卡拉</font></strong></td>
  	<td><strong><font color="red">5.15毫克</font></strong></td> 	
  </tr>
  <tr>
  	<td>梨子</td>
  	<td>43卡拉</td>
  	<td>4.8毫克</td> 	
  </tr>
  <tr>
  	<td>水蜜桃</td>
  	<td>41卡拉</td>
  	<td>3.7毫克</td> 	
  </tr>
  <tr>
  	<td>芒果</td>
  	<td>40卡拉</td>
  	<td>25.8毫克</td> 	
  </tr>
</table>

<h4 align="center"><small>表一：与其他水果的比较/100克</small></h4>
</div>

</div>


<div class="row">

<div class="span6">

</br>
</br>
<table class="table table-bordered">
  <tr>
    <td>水分</td>
    <td>84.8克</td>
    <td>蛋白质</td> 
    <td>0.7克</td>  
  </tr>
  <tr>
    <td>脂肪</td>
    <td>0.6克</td>
    <td>碳水化合物</td>
    <td>12.2克</td>    
  </tr>
  <tr>
    <td><font color="green">粗纤维</font></td>
    <td>0.8克</td>
    <td><font color="green">灰分</font></td>
    <td>0.9克</td>   
  </tr>
  <tr>
    <td><font color="green">钙</font></td>
    <td>41毫克</td>
    <td><font color="green">磷</font></td>  
    <td>43毫克</td> 
  </tr>
  <tr>
    <td><font color="green">铁</font></td>
    <td>0.9毫克</td>
    <td><font color="green">胡萝卜素</font></td>   
    <td>0.12毫克</td> 
  </tr>

  <tr>
    <td><font color="green">硫胺素</font></td>
    <td>0.07毫克</td>
    <td><font color="green">核黄素</font></td>   
    <td>0.02毫克</td> 
  </tr>

  <tr>
    <td><font color="green">尼克酸</font></td>
    <td>0.5毫克</td>
    <td><font color="green">抗坏血酸</font></td>   
    <td>41毫克</td> 
  </tr>

   <tr>
    <td><font color="green">钾</font></td>
    <td>257毫克</td>
    <td><font color="green">镁</font></td>   
    <td>16.1毫克</td> 
  </tr>
</table>

<h4 align="center"><small>表二：胡柚的营养成分/100克</small></h4>
</div>

<div class="span6">
 <img src="assets/huyou_5.jpg" width="220" height="220" align="right">
</div>

</div>

<div align="left">
    <wb:like appkey="2F1w7o" type="simple"></wb:like>
</div>

<div>
    <wb:comments url="auto" fontsize="14" width="auto" skin="silver" appkey="1650361794" ></wb:comments>
</div>

