<footer class="footer">

<ul>
<li>
	<i class="icon-home"></i>
	<%= link_to "关于本站", about_path %>
</li>

<li>|</li>

<li>
	<i class="icon-user"></i>
	<%= link_to "联系站长", contact_path %>
	

</li>

</ul>

</footer>