 <div class="row">


        <div class="span4">
          <table class="table table-bordered">
          <tr>
          <td>
          <h2>历史</h2>
          <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胡柚在明末清初的衢州府航埠西20里即常山招贤 樊村至溪口一带最早种植，直到1978年常山当地人还一直称之为“抚州”，1978年因走向市场需要才定名为“胡柚”，而清乾隆年间的1764年，葡萄牙人就因航海需要将其植物母本引种到国外，称为“葡萄柚”。 <p align="left"><small><%= link_to "查看更多", history_path %> &raquo;</small></p>
          </div>
          </td>
          </tr>
          </table>
        </div>
       
         <div class="span4">
          <table class="table table-bordered">
          <tr>
          <td>
          <h2>价值</h2>
          <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;健胃消食，化痰止咳，宽中理气，解酒毒。主治食积，腹胀，咳嗽痰多，痢疾，腹泻，妊娠口淡等病症。
          <p align="left"><small><%= link_to "查看更多", value_path %> &raquo;</small></p>
          </div>
          </td>
          </tr>
          </table>
        </div>


        <div class="span4">
          <table class="table table-bordered">
          <tr>
          <td>
          <h2>现状</h2>
          <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按物种命名法，常山胡柚的植物学名为。胡柚起源于常山县青石乡胡家村，是优良的柚子自然杂交群体品种，树势强健，叶色浓绿肥厚，枝叶繁茂，适应性广，耐粗放管理，抗寒性富市场供应具有意义。
          <p align="left"><small><%= link_to "查看更多", '#' %> &raquo;</small></p>
          </div>
          </td>
          </tr>
          </table>
        </div>

</div>